altgraph==0.17.3
certifi==2022.9.24
chardet==5.0.0
charset-normalizer==2.1.1
colorama==0.4.6
future==0.18.2
idna==3.4
loguru==0.6.0
pefile==2022.5.30
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.13
pywin32-ctypes==0.2.0
requests==2.28.1
urllib3==1.26.12
win32-setctime==1.1.0
